<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TarjetasSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56909/Tarjetas.asmx" binding="basicHttpBinding"
                bindingConfiguration="TarjetasSoap" contract="wsTarjeta.TarjetasSoap"
                name="TarjetasSoap" />
        </client>
    </system.serviceModel>
</configuration>